-- GPIOS
LED = "wifi" -- valid values: wifi or mqtt
GPIO_LED = 7
GPIO_SWITCH = 6

-- WiFi
WIFI_SSID = "YOUR_SSID"
WIFI_PASS = "YOUR PASSWORD"

-- Alarms
WIFI_ALARM_ID = 0
WIFI_LED_BLINK_ALARM_ID = 1

-- MQTT
MQTT_CLIENTID = "myswitch" # or set nil to default to wifi mac address
MQTT_HOST = "YOUR_MQTT_HOST"
MQTT_PORT = 1883
MQTT_USER = "mqtt"
MQTT_PASSWORD = "secret"
MQTT_MAINTOPIC = "switch"

-- Confirmation message
print("\nGlobal variables loaded...\n")
